* {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    height: 98px;
    margin: 0 auto;
    border-bottom: 1px solid #E2E2E2;
}
.header a {
    text-decoration: none;
}
.list {
    display: flex;
    gap: 15px;
    align-items: center;
}
.list span.home {
    color: red;
}
.list span {
    color: white;
    font-weight: 400;
    font-size: 21px;
}
.startButton {
    background: red;
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: 700;
    font-size: 21px;
    font-family: 'Bebas Neue', sans-serif;
}

/* content */
.content0 {
    font-family: 'Bebas Neue', sans-serif;
    background: url(./Assets/bgimg.png), no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  

}
.conteinerHero {
    max-width: 1100px;
    width: 1100px;
    margin: 0 auto;
}
.contentHero {
    margin-top: 120px;
    margin-bottom: 210px;
    max-width: 600px;
}
.title {
    font-size: 122px;
    font-style: normal;
    font-weight: 700;
}
.tittleRed {
    color: red;
}
.fontNormal {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}
.joinButton {
    background: transparent;
    border: 1px solid red;
    color: red;
    padding: 12px;
    font-weight: 700;
    font-size: 21px;
    font-family: 'Bebas Neue', sans-serif;
}
.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5%;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info .tRed {
    color: red;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}
.infos span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* why us content */
.whyUsContent {
    background: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 72px;
}
.whyChooseUs {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;

}
.whyChooseUs2 {
    font-family: normal, sans-serif;
    font-size: 15px;
    width: 38vw;
    text-align: center;
}
.contentBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 72px;
}
.contentBoxes h1 {
    color: red;
}

/* left box */
.box01 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px 40px;
}
.box01 span {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-size: 38px;
}
.box01 p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.box02 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px 40px;
}
.box02 span {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-size: 38px;
}
.box02 p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.box03 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px 40px;
}
.box03 span {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-size: 38px;
}
.box03 p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.box04 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px 40px;
}
.box04 span {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-size: 38px;
}
.box04 p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.num {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-size: 38px;
}